notebooks/thesis-vis-20-01-27.ipynb
outputs/bak
outputs/bak2
outputs/heatmap-old.png
inputs/cpdoc_as.sqlite
inputs/cpdoc_as2.sqlite
inputs/cpdoc_as-bak.sqlite
outputs/cpdoc_as.sqlite-journal
outputs/model_lda_20-iter2.pkl
outputs/model_lda_20.pkl

model_lda_100_rs_00.pkl
notebooks/thesis-vis-AUX_clustermap.ipynb
notebooks/backups

notebooks/thesis-vis-20-02-29.ipynb
temp_compare-pkl-sql.ipynb
inputs/bak
notebooks/02-2-text_processing-remove_unidentified_tokens.ipynb